#surface  td {	
	position: relative;	
	transition: left 2s, top 2s, transform 2s;
}

.collapse{
	border-collapse:collapse;
	font-family: monospace;
	font-size: 2em;
	
}


body{
	height: 1000px;
	/*border: 2px solid red;*/
	background:white;	
}

#surface  {
	position: relative;
	border: 1px solid red;
}

.shape {
 	width: 120px;
 	height: 50px;
 	font-size: 1.5em;
 	border-radius: 20px;	
 	background: white;
 	margin-right: 5px;
  	margin-bottom: 15px;

}

h1{
	color: #0961af;	
}