#surface  td {	
	position: absolute;	
	transition: left 2s, top 2s, transform 2s;
}

.collapse{
	border-collapse:collapse;
	font-family: monospace;
	font-size: 2em;
	
}


body{
	height: 2000px;
	/*border: 2px solid red;*/
	
}

#surface  {
	position: relative;
	border: 1px solid red;
}

/*#surface tr:last-child {
	
}*/

#surface tr:last-child > td:last-child {
	box-shadow: 3px 3px 10px;
}