#surface  td {	
	position: absolute;	
	transition: left 2s, top 2s, transform 2s;
}

.collapse{
	border-collapse:collapse;
	font-family: monospace;
	font-size: 2em;
	
}

h1{
	text-align:center;
	color: #0961af;	
}

body{
	height: 2000px;
	/*border: 2px solid red;*/
	background:white;	
	
}

#surface  {
	position: relative;
	border: 1px solid red;
}

/*#surface tr:last-child {
	
}*/

#surface tr:last-child > td:last-child {
	box-shadow: 3px 3px 10px;
}

.flex-center {
	display: flex;
	justify-content: start;
}

.shape {
 	width: 120px;
 	height: 50px;
 	font-size: 1.5em;
 	border-radius: 20px;	
 	background: white;
 	margin-right: 20px;
}